////
/// tabs
////

$tab-font-size: 12px !default;
$tab-margin: 0 !default;
$tab-background: $white !default;
$tab-color-active: $white !default;
$tab-color: #7097af !default;
$tab-color-hover: #4e7891 !default;
$tab-item-background: #e7ebee !default;
$tab-background-active: #869ca9 !default;
$tab-item-background-hover: #cfd7dd !default;
$tab-item-padding: .6rem 1.3rem !default;
$tab-content-border: #869ca9 !default;
$tab-content-padding: 1rem !default;

@mixin tabs-container {
  @include clearfix;
  margin: $tab-margin;
  list-style-type: none;
  background: $tab-background;
  border-bottom: 1px solid $tab-content-border;
  padding: 0;
  font-size: $tab-font-size;
  display: flex;
}

@mixin tabs-title {
  margin-left: 2px;
  width:100%;
  &:first-child  {
    margin: 0;
  }
  > a {
    display: block;
    width:100%;
    padding: $tab-item-padding;
    text-align: center;
    line-height: 1;
    color: $tab-color;
    background: $tab-item-background;
    text-decoration: none;
    font-weight: $global-weight-bold;
    box-sizing: border-box;
    &:hover {
      background: $tab-item-background-hover;
      color: $tab-color-hover;
      text-decoration: none;
    }

    &:focus,
    &[aria-selected='true'] {
      background: $tab-background-active;
      color: $tab-color-active;
      text-decoration: none;
      outline: 0;
    }
  }
}

@mixin tabs-panel {
  display: none;
  padding: $tab-content-padding;

  &.active {
    display: block;
  }
}


@mixin barada-tabs {
  .tabs {
    @include tabs-container;
  }

  .tabs-title {
    @include tabs-title;
  }

  .tabs-panel {
    @include tabs-panel;
  }
}

@include barada-tabs;