////
/// @icons
////

$icon-path:        "../resource/icon" !default;




@mixin icons-title-h1 {
  background-image: url('#{$icon-path}/hearder_line.png');
}
@mixin icons-title-h2 {
  background-image: url('#{$icon-path}/hearder_line.png');
}
@mixin icons-title-h3 {
  background-image: url('#{$icon-path}/hearder_line.png');
}


@mixin icons-breadcrumb-line {
  background-image: url('#{$icon-path}/hearder_line.png');
}

